// Bootstrap
@import "vendor/bootstrap/scss/bootstrap.scss";


.cta-tile {
    max-width: 1200px;
    
    .warning-icon {
        font-size: 1.4rem;
        width: 30px;
        height: 30px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        background-color: #ff9d64;
    }
    
    .btn {
        width: 30%;
        font-weight: bold;
        font-size: .9rem;
    }
    
    @media (max-width: 400px){
        .cta-buttons {
            flex-direction: column !important;
        }
    
        .cta-buttons a {
            width: 100%;
            margin-bottom: 1rem  !important;
        }
    }
}
  
  